# Create .gitignore file with the following content
cat > .gitignore << 'EOL'
# Ignore all data and model artifacts


/model_artifacts/*
/mlruns/
__pycache__/
*.pyc

.DS_Store

# Jupyter and VSCode related
.ipynb_checkpoints/
.vscode/

# OS / Env files
.env
*.env
*.log
*.swp
*.bak
*.tmp
*.sqlite

# Conda

*.lock
*.db
*.egg-info/

# Ignore Streamlit Cloud-specific caches
.streamlit/
EOL
